@import "functions";
@import "mixins";
@import "variables";

%wrap {
  width: 100%;
  margin: 0 auto;
  padding: toRem(20px);
}

%fix_float{
  &:before,
  &:after{
    content:"";
    display:table;
  }
  &:after{
    clear:both;
  }
}

%response_tmpl_box{
  width:100%;
  float:none;
  margin:0;
}

%response_tmpl_img{
  width:100%;
  float:none;
  margin:0;

  img,
  .full_pane_pix{
	  width:100%;
  }
}

%notification-decor {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10*$micro-spacing;
  width: 100%;
  padding: $width-pico-size $width-pico-size $width-electron-size $width-pico-size;
  box-sizing: border-box;
  margin-bottom: 5*$micro-spacing;
  border-width: $micro-spacing;
  border-style: solid;
}

/**
 *@template %info-decor{} %warn-decor{} %error-decor{}
 */
%info-decor{} %warn-decor{} %error-decor{}
@each $decorName, $color, $bgOpacity,  $bdOpacity in $decor {
  %#{$decorName}-decor{
    background-color: rgba($color, $bgOpacity);
    border-color: rgba($color, $bdOpacity);
  }
}

