// @use 'sass:math' as m;

// COLORS:
$black:                       #000;
$gray-shade-0:                $black; // ALIAS FOR BLACK.
$gray-shade-1:                #333;
$gray-shade-2:                #666;
$gray-shade-3:                #999;
$gray-shade-4:                #B3B3B3;
$gray-shade-5:                #CCC;
$gray-shade-7:                #D7D7D7;
$gray-shade-8:                #EDEDED;
$gray-shade-9:                #C7C7C7;
$gray-shade-10:               #DBDBDB;
$gray-shade-11:               #919191;
$gray-shade-12:               #E3DEDE;
$gray-shade-13:               #E1E1E1;
$gray-shade-6:                #F9F9F9;
$white:                       #FFF;
$post-color--pale:            rgb(255, 247, 222);
$post-color:                  #FC0;
$post-color-shade-10:         #F7F1D8;
$bg-active-item:              #E4FDE4; // #E6FFE6;
$positive-emphasis:           #146400;
$green:                       #008000;
$orange:                      #FFA500;
$yellow:                      rgb(255, 255, 0);
$red:                         #FF0000;
$colInfoButton:               #008000;
$colWarnButton:               #FFA500;
$colErrorButton:              #FF0000;
$col-hover--Error:            #CF0000;
$col-bg--info:                rgb(100, 255, 0);
$col-bg--warn:                rgb(255, 170, 0);
$col-bg--error:               rgb(255, 0, 0);


// SCREEN-SIZES:
$screen-width-medium:         776px;
$screen-width-small:          480px;
$screen-width-default:        1150px;
$half_screen_width:           480px;


// FONT-SIZES:
$root-font-size:              16px;


// NUMERIC VALUES:
$root-size:                   16;


// STRING VALUES:
$zero:                        0rem;
$half-transition-time:        0.5s;
$quarter-transition-time:     0.25s;
$third-transition-time:       0.33s;
$full-transition-time:        1s;


// FONTS:
$font-family-main:            Avenir, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-alt:             Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-size-tinier:            (8 / $root-size) * 1rem;
$font-size-tiny:              (9 / $root-size) * 1rem;
$font-size-little:            (12 / $root-size) * 1rem;
$font-size-small:             (14 / $root-size) * 1rem;
$font-size-default:           1rem;
$font-size-medium:            (24 / $root-size) * 1rem;
$font-size-large:             (36 / $root-size) * 1rem;
$font-size-x-large:           (48 / $root-size) * 1rem;
$font-size-xx-large:          (72 / $root-size) * 1rem;

// SPACING SIZES [ PADDINGS + MARGINS ]:
// $micro-spacing:               m.div(1, $root-size) * 1rem;
$micro-spacing:               (1 / $root-size) * 1rem;
$min-spacing:                 0.5rem;
$mid-spacing:                 1rem;
$max-spacing:                 2rem;
$width-electron-size:         (15/ $root-size) * 1rem;
$width-pico-size:             (25/ $root-size) * 1rem;
$width-nano-size:             (50 / $root-size) * 1rem;
$width-micro-size:            (100 / $root-size) * 1rem;
$width-min-size:              (150 / $root-size) * 1rem;
$width-opt-size:              (350 / $root-size) * 1rem;
$width-large-size:            (500 / $root-size) * 1rem;


// MISC:
$one:                         1;
$half:                        1/2;
$third:                       1/3;
$two-thirds:                  2/3;
$quarter:                     1/4;
$three-quarters:              3/4;


$decor:
  "info" $col-bg--info 0.4 0.7,
  "warn" $col-bg--warn 0.4 0.7,
  "error" $col-bg--error 0.4 0.5;


