@import '../abstracts/partials/_vitals.scss';

// ANIMATIONS
.morph-out {
  animation-name: morphOut;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
}

.morph-in {
  animation-name: morphIn;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
}

@keyframes morphIn {
  from {border-radius: 50px; box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0)}
  to {border-radius: 0; box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.5)}
}

@keyframes morphOut {
  from {border-radius: 0; box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.5)}
  to {border-radius: 50px; box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0)}
}



:root {
  --animate-delay: 10ms;
  --animate-duration: 1s;
  --animate-repeat: 1;
}

.notification-component-animate {
  animation-duration: var(--animate-duration, 1s);
  animation-fill-mode: both;
}

@keyframes fadeSlideOutNotificationWrapper {
  from { opacity: 1; }
  to { opacity: 0; transform: translate3d(0, -100%, 0); }
}
.nt-comp-animate__fadeSlideOutNotificationWrapper {
  animation-name: fadeSlideOutNotificationWrapper;
}


@keyframes bounceOffNotificationWrapper {
  20% { transform: translate3d(0, -10px, 0) scaleY(0.985); }
  40%, 45% { opacity: 1; transform: translate3d(0, 20px, 0) scaleY(0.9); }
  to { opacity: 0; transform: translate3d(0, -2000px, 0) scaleY(3); }
}
.nt-comp-animate__bounceOffNotificationWrapper {
  animation-name: bounceOffNotificationWrapper;
}


@keyframes fadeSlideInNotificationWrapper {
  from { opacity: 0; transform: translate3d(0, -2000px, 0); }
  to { opacity: 1; transform: translate3d(0, 0, 0); }
}
.nt-comp-animate__fadeSlideInNotificationWrapper {
  animation-name: fadeSlideInNotificationWrapper;
}


@keyframes fadeLeftSlideNotificationWrapper {
  from { opacity: 1; }
  to { transform: translate3d(-100%, 0, 0) skewX(-30deg); opacity: 0; }
}
.nt-comp-animate__fadeLeftSlideNotificationWrapper {
  animation-name: fadeLeftSlideNotificationWrapper;
  animation-timing-function: ease-in;
}
