@import '../abstracts/partials/_vitals';
@import './form';
@import './notification';


html, body, * {
  font-family: $font-family-main;
}

.beam-notification-app {
  width: calc(100% - #{6*$width-nano-size});
  box-sizing: border-box;
  margin: 0 auto;
  height: 100VH;
  overflow: auto;
  // display: flex;
  // flex-direction: column-reverse;
  @include respond-to(medium-screens) {
    width: calc(100% - #{2*$mid-spacing});
    height: calc(100vh - #{5*$mid-spacing});
    margin-top: $width-nano-size;
  }
}

// MISCELLANEOUS:
.accent{
  color: yellow;
}
