@import '../abstracts/partials/_vitals';

// FORM COMPONENTS STYLES:
.app-setting__form-wrapper {
  position: absolute;
  right: 0;
  width: $width-opt-size;
  background: $gray-shade-12;
  border-top-left-radius: $mid-spacing;
  border-top-right-radius: $mid-spacing;
}

.app-setting__form-wrapper--inner {
  padding: $mid-spacing;
  z-index: 0;
}

.app-setting__form-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: $font-size-small;
  padding: 5*$micro-spacing 0;

  input, select {
    min-width: 30%;
    min-height: 30*$micro-spacing;
    border: solid $micro-spacing #919191;
    outline: none;
    padding-left: 5 * $micro-spacing;
    &:focus{
      outline: none;
    }
  }

  select {
    min-width: 33%;
    min-height: 33*$micro-spacing;
  }

  label {
    font-size: $font-size-little;
    border-top: dashed $micro-spacing;
    border-bottom: dashed $micro-spacing;
    padding: 4*$micro-spacing 0;
  }
}

.app-setting__heading {
  font-size: 1rem;
  text-transform: uppercase;
  color: $gray-shade-13;
  font-weight: 400;
  margin: 0;
  letter-spacing: 0.075 * $mid-spacing;
  text-align: center;
  background: $gray-shade-1;
  padding: 1rem 0;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}


// ACTION BUTTONS:
.action-button__settings-trigger {
  position: absolute;
  top: 0;
  right: 0;
  color: $gray-shade-11;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 1000;

  @include respond-to(medium-screens) {
    font-size: $font-size-tiny;
  }
}

.action-button__notification-renderer__mark-as-read,
.action-button__notification-renderer__mark-as-unread {
  background: rgba($white, 0.6);
  border: none;
  border-top: dashed $micro-spacing gray;
  border-bottom: dashed $micro-spacing gray;
  padding: 5*$micro-spacing;
  box-sizing: border-box;
  width: $width-min-size;
  font-size: $font-size-little;
  cursor: pointer;
  height: 26*$micro-spacing;
}

.action-button__notification-renderer__mark-as-read {
  color: $white;
  background: rgba($black, 0.72);
}

.action-button__notification-renderer__mark-as-unread {
  color: black;
  background: rgba(255, 255, 255, 0.72);
  .fa {
    color: $colInfoButton;
  }
}

.action-button__dismiss-msg {
  position: absolute;
  cursor: pointer;
  width: auto;
  top: 2 * $micro-spacing;
  right: 4 * $micro-spacing;
  color: $black;
  transition: color 0.5s;
  &.action-button{
    width: auto;
  }

  &:hover {
    color: $col-hover--Error;
  }

}

.action-button__app-setting__save-config {
  border: none;
  border-top: solid $micro-spacing $white;
  border-bottom: solid $micro-spacing $white;
  color: $gray-shade-13;
  background: $gray-shade-1;
  text-transform: uppercase;
  padding: 8*$micro-spacing 30*$micro-spacing;
}
