@import '../abstracts/partials/_vitals';

// STYLES RELATED TO ALL NOTIFICATION COMPONENT(S):
.notification {
  @extend %notification-decor;
}

.notification__error {
  @extend %error-decor;
}

.notification__warning {
  @extend %warn-decor;
}

.notification__info {
  @extend %info-decor;
}

.notification-renderer__body{
  grid-column: 1 / 3;
  font-size: $font-size-small;
  background: rgba($white, 0.6);
  border-top: dashed $micro-spacing gray;
  border-bottom: dashed $micro-spacing gray;
  padding: 5*$micro-spacing;
  box-sizing: border-box;
}

.notification-renderer__date {
  text-align: right;
  font-size: $font-size-little;
  margin-top: 0;
  margin-bottom: 5*$micro-spacing;
  font-weight: 500;
}

.notification-type{
  &__info{
    color: $colInfoButton;
  }
  &__warning{
    color: $colWarnButton;
  }
  &__error{
    color:$colErrorButton;
  }
}

.notification-renderer__date--content {
  display: inline-block;
  background: rgba($white, 0.6);
  border-top: dashed $micro-spacing gray;
  border-bottom: dashed $micro-spacing gray;
  padding: 5*$micro-spacing;
  box-sizing: border-box;
}

// NOTIFICATION TRIGGERS:
.notification-trigger-slot{
  display: inline-block;
  position: absolute;
  width: $width-nano-size;
  height: $width-nano-size;
  background-color:red;
  border-radius: $width-nano-size;
  cursor: pointer;
  transition: opacity #{$three-quarters}s;
  border-width: 0;
  animation-duration: #{$three-quarters}s;
  animation-fill-mode: forwards;

  @include respond-to(medium-screens) {
    width: $width-pico-size;
    height: $width-pico-size;
  }

  &:hover {
    opacity:0.5;
    border-width: $micro-spacing;
  }

  &__info{
    top: 0;
    left: 0;
    background-color: $colInfoButton;
  }

  &__warning{
    bottom: 0;
    left: 0;
    background-color: $colWarnButton;
  }

  &__error{
    bottom: 0;
    right: 0;
    background-color: $colErrorButton;
  }
}
